@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4" style="color: #731219; font-weight: bold;">Get to Know Joel Hilton</h1>
    <div>
        <h2>Visit this link to see where Joel frequently performs. </h2>
    </div>
    <div>
        <p>
            <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
        </p>
        <p>
            <a href="https://baconsale.com/">Baconsale site</a>
        </p>
        <p>
            <a href="https://baconsale.com/">
                <img src="~/baconsalekate.jpg" height="400" alt="Joel Hilton" />
            </a>
        </p>
    </div>
</div>
