@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #CB990F; font-weight: bold; text-align: center; text-transform: uppercase;">The Joel Hilton Film Collection</h1>
    <img src="~/joelhiltonheadshot.jpg" height="600" />
</div>
